<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIXLON</title>
    <link rel="shortcut icon" href="assests/img/favicon.png" type="image/x-icon">
    <!-- icon -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{!-- HEADER COMPLETED --}}
    <header class="l-header" id="header">
        <div class="navbar">
            <div class="brand">
                <a href="#" style="color:#6F4E37;"><h1>FIXLON</h1></a>
            </div>
            <div class="nav" id="nav">
                <ul class="nav__menu">
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#services" class="nav__link">Services</a></li>
                    <li class="nav__item"><a href="#package" class="nav__link">Packages</a></li>
                    <li class="nav__item"><a href="#gallery" class="nav__link">Gallery</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    <a href="/"><button class="logout">Logout</button></a>
                </ul>
            </div>

            <div class="nav__toggle" id="toggle">
                <i class='bx bx-menu'></i>
            </div>
        </div>
    </header>
    {{!-- HEADER COMPLETED --}}


    <main>
        {{!-- HOME  COMPLETED --}}
        <section class="home">
            <div class="container">
                <div class="row">
                    <div class="home__img">
                        <img src="/assests/img/home-img.png" alt="">
                    </div>
                    <div class="home__content">
                        <h1>Your Big Day<br><span>in Style</span></h1>
                        <p>Come meet our bride's corner and take the opportunity to schedule your date.</p>
                        <a href="https://wa.me/8525876050" target="_blank" class="btn btn__outline"><i class='bx bxl-whatsapp'></i>SCHEDULE YOUR TIME</a>
                    </div>
                </div>
            </div>
        </section>
        {{!-- HOME  COMPLETED --}}


        {{!-- ABOUT NOT COMPLETED --}}
        <section class="about section" id="about">
            <div class="container">
                <div class="row">
                    <div class="section__title">
                        <h1>About Us</h1>
                        <span>FIXLON</span>
                    </div>
                    <div class="about__detail">
                        <div class="about__detail__content">
                            <div class="about__img">
                                <img src="/assests/img/about-img.jpg" alt="" title="Style Director" >
                            </div>
                            <div class="about__descripion">
                                <p>At the FIXLON, we have confidence in excellence with a heart. We have made a salon that offers the most noteworthy quality hair benefits in a setting that is more advantageous for the earth, our visitors, and our staff.</p><br>
                                <p>The FIXLON is planned and fabricated essentially with reused materials: the floor is made of recovered wood from a nearby grain lift – protecting and displaying its common surface – and the vast majority of the installations and furniture are renovated or unique vintage pieces.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{!-- ABOUT NOT COMPLETED --}}


        {{!-- SERVICES NOT COMPLETED --}}
        <section class="services section" id="services">
            <div class="services__content">
                <div class="row">
                    <div class="section__title">
                        <h1>Services</h1>
                        <span>That we perform</span>
                    </div>
                </div>
                <div class="services__content__descripion container">
                    <div class="box">
                        <div class="inner">
                            <a  href="/services"><img src="/assests/img/services/manicure.png" alt="Manicure" ></a>
                            <p>manicure</p>
                        </div>
                    </div>
                
                    <div class="box">
                        <div class="inner">
                            <a  href="/services"><img src="/assests/img/services/pedicure.png" alt="Pedicure" ></a>
                            <p>pedicure</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="inner">
                            <a  href="/services"><img src="/assests/img/services/makeup.png" alt="MakeUp" ></a>
                            <p>makeup</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="inner">
                            <a  href="/services"><img src="/assests/img/services/hairstyle.png" alt=""></a>
                            <p>hairstyle</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                           <a  href="/services"><img src="/assests/img/services/haircut.png" alt="Hair Cut" ></a>
                            <p>hair cut</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="inner">
                            <a  href="/services"><img src="/assests/img/services/eyebrow.png" alt="Eyebrow" ></a>
                            <p>eyebrow</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="inner">
                            <a  href="/services"><img src="/assests/img/services/waxing.png" alt="Waxing" ></a>
                            <p>waxing</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="inner">
                            <a  href="/services"><img src="/assests/img/services/skincleaning.png" alt="Skin Cleaning" ></a>
                            <p>skin cleaning</p>
                        </div>
                    </div>
                    
                </div>
            </div>


        {{!-- PACKAGE NOT COMPLETED --}}
        </section>
        {{!-- SERVICES NOT COMPLETED --}}


        {{!-- PACKAGE NOT COMPLETED --}}
        <section class="package section" id="package">
            <div class="package_content">
                <div class="row">
                    <div class="section__title">
                        <h1>Promotional Packages</h1>
                        <span>For your bridal day</span>
                    </div>
                </div>
                <div class="package__cards row">
                    <div class="card">
                        <div class="card__title">
                            <h1>Bronze</h1>
                        </div>
                        <div class="card__items">
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Hairstyle</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Makeup</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Nails<span>(French traditional)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Waxing<span>(1 area)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Eyebrow design</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Skin cleaning</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Reserved bridal room</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Table of fruits</p>
                            </div>
                           <a href="/purchase"><button class="btn">Purchase</button></a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__title">
                            <h1>Silver</h1>
                        </div>
                        <div class="card__items">
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Hairstyle</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Makeup</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Nails<span>(Acralic)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Waxing<span>(1 area)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Eyebrow design</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Skin cleaning</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Reserved bridal room</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Table of fruits</p>
                            </div>
                           <a href="/purchase"><button class="btn">Purchase</button></a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__title">
                            <h1>Gold</h1>
                        </div>
                        <div class="card__items">
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Hairstyle</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Makeup</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Nails<span>(Winter Tones)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Waxing<span>(1 area)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Eyebrow design</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Skin cleaning</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Reserved bridal room</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Table of fruits</p>
                            </div>
                           <a href="/purchase"><button class="btn">Purchase</button></a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__title">
                            <h1>Diamond</h1>
                        </div>
                        <div class="card__items">
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Hairstyle</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Makeup</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Nails<span>(Custom Styles)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Waxing<span>(1 area)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Eyebrow design</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Skin cleaning</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Reserved bridal room</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Table of fruits</p>
                            </div>
                            <a href="/purchase"><button class="btn">Purchase</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{!-- PACKAGE NOT COMPLETED --}}


        {{!-- GALLERY NOT COMPLETED --}}
        <section class="gallery section" id="gallery">
            <div class="gallery__content">
                <div class="row">
                    <div class="section__title">
                        <h1>Gallery</h1>
                        <span>Our Instagram Models</span>
                    </div>
                </div>
                <div class="gallery__list__img row container">
                    <div class="gallery__img">
                        <img src="/assests/img/img-insta/photo1.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="/assests/img/img-insta/img1.jpeg" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="/assests/img/img-insta/photo3.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="/assests/img/img-insta/img2.jpeg" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="/assests/img/img-insta/photo5.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="/assests/img/img-insta/photo6.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="/assests/img/img-insta/img3.jpeg" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="/assests/img/img-insta/photo8.png" alt="">
                    </div>
                </div>
                <a href="/gallery"><button class="btn">See more</button></a>
            </div>
        </section>
        {{!-- GALLERY NOT COMPLETED --}}


        {{!-- TESTIMONIAL COMPLETED --}}
        <section class="testimonials section">
            <div class="testimonials__content">
                <div class="row">
                    <div class="section__title">
                        <h1>Testimonials</h1>
                        <span>See what our customers have to say</span>
                    </div>
                </div>
                <div class="testimonials__card container grid">
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="/assests/img/Testimonials/test1.png" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>Catrina</h1>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>It was relaxing experience for us when we visited this place. 
                                Staff is good and well trained. Overall good.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="/assests/img/Testimonials/test2.png" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>Samantha</h1>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                               <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>Place is good for those who love natural spa. The rates are not expensive. 
                                Ambience was full of energetic.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="/assests/img/Testimonials/test3.jpeg" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>Rosy</h1>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>Nice and good experience also I would recommend for everyone 
                                Who is looking for something new with hair</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="/assests/img/Testimonials/test4.jfif" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>Nandha</h1>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>Good unisex salon providing decent services, while maintaining good 
                                levels of hygiene.The environment here was quiet relaxing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{!-- TESTIMONIAL COMPLETED --}}
    </main>


  {{!-- FOOTER COMPLETED --}}
    <footer class="footer" id="contact">
        <div class="footer__list section container">
            <div class="footer__data">
                <h1><a href="#" style="color:#6F4E37;">FIXLON</a></h1>
                <div class="footer__data-social">
                    <a href="https://www.facebook.com/profile.php?id=100089905761823" target="_blank"><i class='bx bxl-facebook social__icon'></i></a>
                    <a href="https://instagram.com/fixlon_style?igshid=ZDdkNTZiNTM=" target="_blank"><i class='bx bxl-instagram social__icon' ></i></a>
                    <a href="https://wa.me/8525876050" target="_blank"><i class='bx bxl-whatsapp social__icon' ></i></a>
                    <a href="mailto:fixlon2001@gmail.com" target="_blank"><i class='bx bx-envelope social__icon' ></i></a>
                </div>
            </div>
            <div class="footer__data">
               <h2> Our Address</h2>
               <p><a href="https://goo.gl/maps/2SYJPKpSrTAJbaJ4A" target="_blank"><i class="fa-solid fa-location-dot"></i>Bridal Street, 123<br>Salem-10</a></p>
            </div>
            <div class="footer__data">
                <h2>Our Schedule</h2>
                <p>Monday to Friday<br><br> from 09:00 to 18:00</p>
            </div>
            <div class="footer__data">
                <h2>Contact</h2>
                <p>+91 9876543210</p><br>
                <p>+91 8765432109</p>
            </div>
        </div>
        {{!-- <div class="copy">
            <p>&copy All rights reserved</p>
            <span>Made with 🤎 by Nandha</span>
        </div> --}}
    </footer>
{{!-- FOOTER --}}

</body>

  <!-- javascript -->
    <script >
    const showMenu = (toggleId, navId) => {
    const toggle = document.getElementById(toggleId),
        nav = document.getElementById(navId)
    if (toggle && nav) {
        toggle.addEventListener('click', () => {
            nav.classList.toggle('show-menu')
        })
    }
}
showMenu('toggle', 'nav')

/*------------ REMOVER MENU MOBILE -------------*/
const navLink = document.querySelectorAll('.nav__link')
function linkAction() {
    const navMenu = document.getElementById('nav')
    navMenu.classList.remove('show-menu')
}
navLink.forEach(n => n.addEventListener('click', linkAction))

const linkColor = document.querySelectorAll('.nav__link')

function colorLink(){
    if(linkColor){
        linkColor.forEach(L => L.classList.remove('active-link'))
        this.classList.add('active-link')
    }
}

linkColor.forEach(L=> L.addEventListener('click', colorLink))

function scrollHeader(){
    const scrollHeader = document.getElementById('header')
    if(this.scrollY >= 100) scrollHeader.classList.add('scroll-header'); else scrollHeader.classList.remove('scroll-header')

}
window.addEventListener('scroll', scrollHeader)
    </script>
  <!-- javascript -->

</html>